<!doctype html>
<html lang="es">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <%#= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%#= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <title>Prueba técnica EVoting - Andrés Riquelme</title>
</head>

<body>
<div class="container pt-3">

  <div class="row">
    <div class="col-12">
      <h1 class="text-center">¿Qué habrá en la hierba alta?</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <p class="lead text-center">
        Clickéala y averígualo
      </p>
    </div>
  </div>


  <div class="row">
    <div class="col-md-12 text-center p-3">
      <%= link_to image_tag('tall_grass.png'), '/pokemon' %>
    </div>

  </div>

</div>

</body>

</html>